<launch>

 	<arg name="scan_name" default="/livox/lidar"/>
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
	 	<remap from="cloud_in" to="$(arg scan_name)"/>
        <rosparam>
            <!-- target_frame: robot_foot_init -->
            transform_tolerance: 0.01
            min_height: 0.0
            max_height: 1

            angle_min: -3.14159 # -M_PI/2
            angle_max: 3.14159 # M_PI/2
            angle_increment: 0.0087 # M_PI/360.0
            scan_time: 10
            range_min: 0.05
            range_max: 30.0
            use_inf: true
            inf_epsilon: 1.0
            
            concurrency_level: 1
        </rosparam>
    </node>

</launch>